<div class="main-wrapper">
  <div class="main-container">
    <div class="left-container" [style.background.r]="true">
      <div class="bot">
        <div class="bot-title">
          <h1>Wellcome to BotTasker</h1>
        </div>
        <app-animated-bot class="__location" [state]="botState">
        </app-animated-bot>
      </div>
    </div>

    <div class="right-container">
      <div class="sign-menu">
        <div class="sign-in-view">
          <a routerLink="/auth/sign-in"
             [ngClass]="{
              'sign-in': true,
              '__selected': isSignIn
             }">
            Sign in
          </a>
        </div>
        <div class="sign-up-view">
          <a routerLink="/auth/sign-up"
             [ngClass]="{
              'sign-up': true,
              '__selected': !isSignIn
              }">
            Sign up
          </a>
        </div>
      </div>
      <div class="sign-form">
        <router-outlet></router-outlet>
      </div>
      <div class="oauth">
        <div class="oauth-title">
          <h1>---OAUTH---</h1>
        </div>
        <div class="oauth-container">
          <a class="oauth-vk"
             href="{{vkUrl}}">
            <div class="vk-img"></div>
          </a>
          <a class="oauth-bitbucket"
             href="{{bitbucketUrl}}">
            <div class="bitbucket-img"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
