<div class="main-wrapper">
  <div class="modal-content">
      <div class="modal-header">

          <div *ngIf="formVisibality" class="modal-header_close-w">
              <div class="modal-header_close_icon"></div>
              <button (click)="onClose()" class="modal-header_close"></button>
          </div>
          <div class="modal-header_title">
              <div class="modal-header_title-text">
                  New Project
              </div>
          </div>
      </div>

      <div class="modal-body">
        <form *ngIf="formVisibality"
              [formGroup]="form"
              class="project-form"
              name="new-project-form"
              (keyup.enter)="onSubmit()">
          <input type="text"
                 name="title"
                 id="title"
                 [class.__invalid]="form.invalid"
                 class="__input"
                 placeholder="title"
                 formControlName="title"/>
        </form>
        <div *ngIf="!formVisibality" class="animated-bot __location __moving-antenns __loading">
          <div class="bot-head">
            <div class="bot-eye"></div>
            <div class="bot-mouth"></div>
            <div class="bot-left-ear">
              <div class="antenna-left"></div>
            </div>
            <div class="bot-right-ear">
              <div class="antenna-right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
          <div class="modal-footer_actions-buttons">
              <div *ngIf="formVisibality" class="action-buttons_nessesary">
                  <div class="action-button-w">
                      <button (click)="onClose()" class="action-button __cancel">Cancel</button>
                  </div>
                  <div class="action-button-w">
                      <button (click)="onSubmit()" [disabled]="form.invalid" class="action-button __ok">Create</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
