<div class="user">
  <h3>Настройки</h3>


    <div class="form-group">

      <div class="user__avatar">
          <img id="avatar" />
          <i class="fas fa-user-circle"></i>
      </div>
      
      <input type="file" class="form-control" (change)="handleFileInput($event.target.files)">
    </div>

    <div class="user__header">Личные данные</div> 

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      
      <div class="form-group">
        
          <label for="login">Логин *</label>

          <input type="text" class="form-control" minlength="3" id="login"
          required
          [(ngModel)]="user.login" name="login"
          #login="ngModel">

          <div *ngIf="login.invalid && (login.dirty || login.touched)"
          class="alert alert-danger">
          
            <div *ngIf="login.errors.required">
              Поле логин не заполнено
            </div>
            <div *ngIf="login.errors.minlength">
              Поле логин не может быть короче 3х символов
            </div>
          
          </div>

      </div>
    
      <div class="form-group">

        <label for="name">Имя</label>

        <input type="text" class="form-control" id="name"
        required
        [(ngModel)]="user.name" name="name"
        #name="ngModel">

      </div>

      <div class="form-group">
             
        <label for="surname">Фамилия</label>

        <input type="text" class="form-control" id="surname"
        required
        [(ngModel)]="user.surname" name="surname"
        #surname="ngModel">

      </div>
      
      <button type="submit" class="btn btn-success" *ngIf="userForm.form.valid && userForm.form.dirty" [disabled]="!userForm.form.valid || !userForm.form.dirty">Сохранить</button>
    </form>

    <div class="user__header">Смена пароля</div>

      <form (ngSubmit)="onSubmitPassword()" #password="ngForm">
        <div class="form-group">
                
          <label for="surname">Старый пароль</label>

          <input type="password" class="form-control" id="old_password"
          required
          [(ngModel)]="password.old_password" name="old_password"
          #old_password="ngModel">
          
        </div>

        <div class="form-group">
                
            <label for="surname">Новый пароль</label>
    
            <input type="password" class="form-control" id="password"
            required
            [(ngModel)]="password.password" name="password"
            #password="ngModel">
    
        </div>

        <div class="form-group">
                
            <label for="surname">Еще раз</label>
    
            <input type="password" class="form-control" id="repeat_old_password"
            required
            [(ngModel)]="password.repeat_old_password" name="repeat_old_password"
            #repeat_old_password="ngModel">
    
        </div>

      </form>

    <div class="user__header">Прочие настройки</div>

</div>
