.events-list__event-item {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
  border-style: dotted;
  border-width: 0 0 1px 0;
  border-color: #2899ff;
  .avatar {
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, .5);
    width: 25px;
    flex-grow: 0;
    height: 25px;
    min-width: 27px;
    min-height: 27px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('http://127.0.0.1:3000/api/..//avatars/avatar-1523973979602.JPG');
  }
  span{
    font-weight: 600;
  }
}
