<div class="sign-main-wrapper">
    <div class="sign-main-container">
        <div class="main-container_left">
            <div class="bot-main">
                <h1>Wellcome to BotTasker</h1>
            </div>
        </div>

        <div class="main-container_right">
            <div class="sign-menu">
                <div class="sign-up-view">
                    <button class="sign-up">Sign up</button>
                </div>
                <div class="sign-in-view">
                    <button class="sign-in">Sign in</button>
                </div>
            </div>
            <div class="sign-form_view">
                <div class="sign-form_title">
                    <h1>SIGN UP</h1>
                </div>
                <form class="sign-form _up">
                    <div class="user">
                        <input class="user-login __sign">
                        <input class="user-email __sign">
                        <input class="user-password __sign">
                        <input class="user-password_conferm __sign">
                    </div>
                    <div class="submit-view">
                        <button class="cancel __but">Cancel</button>
                        <button class="submit __but">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>